:root {
  --primary: #f22e62;
  --primary-sec: #d82153;
  --white: #ffffff;
  --gray-light: #f3f4f6;
  --gray: #d1d5db;
  --gray-dark: #6b7280;
  --text-dark: #111827;
  --error-color: #27b0ff;
  --safe-color: #00ce89;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--gray-light);
  padding: 1rem;
}

#root {
  max-width: 640px;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;
}

h1 {
  color: var(--primary);
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.card {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.card input,
.card button {
  height: 45px;
  box-sizing: border-box;
  border: 2px solid transparent; /* Añadido borde transparente */
  transition: all 0.3s ease; /* Suaviza la transición */
}

.card button:hover {
  background-color: transparent;
  color: var(--primary);
  border: 2px solid var(--primary);
}

.card button:focus {
  outline: 1px solid var(--primary-sec);
}

input[type="text"] {
  padding: 0.5rem 1rem;
  border: 1px solid var(--gray-dark);
  border-radius: 4px;
  font-size: 1rem;
  flex: 1;
  min-width: 300px;
  background-color: var(--gray-light);
  color: var(--text-dark);
}

input[type="datetime-local"] {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid var(--gray);
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
  background-color: var(--text-dark);
  color: var(--white);
}

button {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.error {
  display: flex;
  align-items: center;
  color: #dc2626;
  margin-top: 0.5rem;
  justify-content: center;
  font-size: large;
}

.error svg {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}

hr {
  border: 0;
  height: 1px;
  background-color: var(--text-dark);
  margin: 1rem 0;
}

.task-counter {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-dark);
  margin-bottom: 1rem;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

.task-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 600px;
}

.task-item {
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: 8px;
  padding: 0.8rem;
  margin-bottom: 0.75rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  text-align: left;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.task-item strong {
  font-size: 1rem;
  color: var(--text-dark);
}

.edit-mode {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
  padding: 0.2rem;
  align-items: end;
}

.edit-mode input {
  width: 100%;
  box-sizing: border-box;
  max-width: 450px;
}

.edit-mode button {
  height: 2.1rem;
}

.task-edit-actions {
  display: flex;
  gap: 0.5rem;
}

.save-btn {
  background-color: var(--safe-color);
  color: var(--white);
  border: 1px;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  font-size: 0.85rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancel-btn {
  background-color: var(--error-color);
  color: var(--white);
  border: 1px;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  font-size: 0.85rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-btn:hover {
  background-color: transparent;
  color: var(--safe-color);
  border: 2px solid var(--safe-color);
}

.cancel-btn:hover {
  background-color: transparent;
  color: var(--error-color);
  border: 2px solid var(--error-color);
}

.view-mode {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  align-items: center;
}

.task-info {
  flex: 1;
}

.task-info strong {
  font-size: 1.1rem;
}

.timestamp {
  font-size: 0.9rem;
  color: var(--gray-dark);
  margin-top: 0.25rem;
}

.task-actions {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  height: 35px;
  box-sizing: border-box;
}

.edit-btn {
  background-color: var(--safe-color);
  color: var(--white);
  border: 1px;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  font-size: 0.85rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-btn {
  color: #ef4444;
  padding: 0.5rem;
  border-radius: 5px;
  transition: all 0.2s ease;
  background: transparent;
  border: 2px solid var(--primary);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-btn:hover {
  background-color: var(--primary);
  color: var(--white);
  border: 2px solid var(--primary);
}

.edit-btn:hover {
  background-color: transparent;
  color: var(--safe-color);
  border: 2px solid var(--safe-color);
}
